body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.TyContainer {
   display: flex;
   flex-direction: column;
   height: 445px;
   width: auto;
   align-items: center;
   justify-content: center;
   /* border: 1px solid #888585; */
}

.TyTitle {
    font-size: 67px;
    margin-top: 0px;
    color: #f34236;
}

.TyText {
    font-size: 23px;
    margin-top: -10px;
}

.backBtn {
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    background-color: #f34236;
    border: none;
    height: 40px;
    width: 165px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: rgb(250, 248, 248);
    cursor: pointer;
}

.frameContainer {
    height: 100vh;
    width: auto;
    position: relative;
}

iframe {
    height: 448px;
    width: 635px;
    background-color: #ffff;
    border: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 15px;
    z-index: 1;
}