body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.TyContainer {
   display: flex;
   flex-direction: column;
   height: 434px;
   width: auto;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(136, 133, 133);
}

.TyTitle {
    font-size: 67px;
    margin-top: 0px;
    color: #f34236;
}

.TyText {
    font-size: 23px;
    margin-top: 0px;
}

.frameContainer {
    height: 100vh;
    width: auto;
    position: relative;
}

iframe {
    height: 440px;
    width: 530px;
    background-color: #ffff;
    border: none;
    position: absolute;
    top: 200px;
    bottom: 100px;
    left: 500px;
}